name: Discord Alert

on:
  schedule:
    - cron:  '* 10 * * *'
  push:
    branches:
      - main


jobs:
  message:
    runs-on: ubuntu-latest
    steps:
    - name: Discord Webhook Action
      uses: tsickert/discord-webhook@v5.3.0
      with:
        webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
        content: "Test"